<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Formulario de Ingreso de Productos</title>
    <script src="/socket.io/socket.io.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/normalizr@3.6.1/dist/normalizr.browser.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css"/>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>

  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light " style="background-color: #c3e1f7;">
      <a class="navbar-brand" href="#">Ecommerce</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/login">Iniciar sesion <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/singup">Registrarse</a>
          </li>

        </ul>
      </div>
    </nav>
    <div class="fondo">

      <form action="/singup" method="post"  class="formLogin">
        <div class="form-group">
          <label for="nombre">Nombre </label>
          <input type="nombre" class="form-control" id="nombre" name="nombre" />
        </div>
      <div class="form-group">
        <label for="email">Email </label>
        <input
          type="email"
          class="form-control"
          id="email"
          aria-describedby="emailHelp"
          name="email"
          />
      </div>
      <div class="form-group">
        <label for="contraseña">Contraseña</label>
        <input
          type="password"
          class="form-control"
          id="contraseña"
          name="contraseña"
          />
        </div>
        <div class="form-group">
          <label for="Edad">Edad</label>
          <input type="number" class="form-control" id="Edad" name="edad" />
        </div>
      <div class="form-group">
        <label for="numDeTelefono">Numero de telefono</label>
        <input
        type="tel"
        class="form-control"
        id="phone"
        name="phone"
        />
      </div>
      <div class="form-group">
        <label for="direccion">Direccion</label>
        <input
        type="text"
        class="form-control"
        id="direccion"
        name="direccion"
        />
      </div>
      <div class="form-group">
        <label for="foto">Foto</label>
        <input type="text" class="form-control" id="foto" name="foto" />
      </div>
      <button
      type="submit"
      
      class="btn btn-primary"
      id="buttonToLog"
      >
      Submit
    </button>
  </form>
</div>
  <script src="../../routes/singup.js"></script>
</body>
<script>
  const phoneInputField = document.querySelector("#phone");
  const phoneInput = window.intlTelInput(phoneInputField, {
    utilsScript:
    "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    preferedCountries:["ar","co"],
    nationalMode: true,
    formatOnDisplay: false,
    hiddenInput: "numDeTelefono"
  })
  </script>
</html>
